# Ignora todo lo innecesario
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env.*  # Ignora variantes como .env.local, .env.dev si existen

# No ignores los que necesitas explícitamente
!.env
!.dockerignore
!.gitignore
