# Ignora archivos y carpetas innecesarios
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Ignora todos los archivos .env excepto el principal
.env.*
!.env

# No ignores explícitamente estos ficheros necesarios
!.dockerignore
!.gitignore
